* {
    font-family: Arial, Helvetica, sans-serif;
}

/* #informacion {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.datos {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.infoDatos {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 30px;
} */
#informacion {
    overflow: hidden;
}

.datos {
    float: left;
    width: 50%;
}
#cedula{
    float: left;
    margin-right: 20px;
}
.infoDatos {
    float: right;
    width: 50%;
    padding-top: 10px;
    background-color: aqua;
    text-align: right; 
}

.tablaDatos {
    width: 98%;
    border-collapse: collapse;

}

.body {
    padding: 10px;
}

.TotalCuenta{
    display: flex;
    justify-content: flex-end;
}
.TotalCuenta, p{
    padding-left: 100px;
}

th {
    font-size: 13px;
    font-weight: 900;

}

td {
    font-size: 13px;
    text-align: end;

}

/* th:nth-child(1),
td:nth-child(1) {
    width: 10%;
    background-color: aqua;
    
}
th:nth-child(2),
td:nth-child(2) {
    width: 10%;
}
th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}
th:nth-child(4),
td:nth-child(4) {
    letter-spacing: 2px;
    width: 50%;
} */

.tablaDatos td:nth-child(1) {
    width: 10%;
    
}
.tablaDatos td:nth-child(2) {
    width: 10%;
}
.tablaDatos td:nth-child(3) {
    width: 10%;
}
.tablaDatos td:nth-child(4) {
    width: 50%;
}
.tablaDatos td:nth-child(5) {
    width: 10%;
}
.tablaDatos td:nth-child(5) {
    width: 10%;
}