table {
    border-collapse: collapse;
}
body{
    background-color:burlywood;
}

.body{
    background-color: aqua;
}
td, th {
    border: 1px solid green;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.selected {
    background-color: #a6c7ff;
}

.hidden {
    display: none;
}
