<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/rocket.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
            <ul class="nav nav-pills"> 
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetPastores" asp-controller="CPastores">Pastores</a>
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetCongregaciones" asp-controller="CCongregaciones">Congregaciones</a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetTerceros" asp-controller="CTerceros">Terceros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetDistritos" asp-controller="CDistritos">Distritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Cinco" asp-controller="CCinco">CINCO</a>
                </li>
                    @* <li class="nav-item">
                    <a class="nav-link" href="<?php echo $url_base ?>/cerrar.php">Cerrar sesión</a>
                </li> *@
            </ul>
        </nav>
    </header>
    
        <main role="main" class="">
            @RenderBody()
        </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
