.tablaDatos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: none;
}

.TotalCuenta {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.TotalCuenta, p {
    font-size: 15px;
    padding-left: 100px;
}

/*#informacion {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.datos {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.infoDatos {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 30px;
}

.seperadorBorde {
    height: 1px;
    background-color: black;*/
    /*margin: 10px 0 10px 0;*/
/*}*/

th {
    font-size: 13px;
    font-weight: 900;
    padding-left: 3px;
    text-align: center;
}

td {
    font-size: 13px;
    text-align: end;
}

.tablaDatos td:nth-child(1) {
    width: 10%;
}

.tablaDatos td:nth-child(2) {
    width: 10%;
}

.tablaDatos td:nth-child(3) {
    width: 10%;
}

.tablaDatos td:nth-child(4) {
    width: 40%;
}

.tablaDatos td:nth-child(5) {
    width: 14%;
}

.tablaDatos td:nth-child(5) {
    width: 14%;
}
