@{
    ViewData["Title"] = "GetRetiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/css/tablas.css")" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @* <div class="d-md-flex justify-content-md-end">
                    <button onclick="zoomIn()" class="btn btn-outline-secondary m-2">+</button>
                    <button onclick="zoomOut()" class="btn btn-outline-secondary m-2">-</button>
                </div>
                <table id="miTabla">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <form asp-action="FiltroCedula" asp-controller="CRetirosListado" method="post">
                                    <div class="d-flex justify-content-center">
                                        <input class="form-control d-block" type="number" id="inputCedula" name="cedula" placeholder="Cedula">
                                        <button class="btn btn-primary d-block" type="submit"><img src="~/img/lupa.png"></img></button>
                                    </div>
                                </form>
                            </th>
                            <th>
                                <button id="ocultarColumnas" onclick="toggleColumns([2,3,4,5,6])">Ocultar</button>
                            </th>
                        </tr>
                        <tr>

                            @foreach (var propertyInfo in typeof(MRetirosListado).GetProperties())
                            {
                                <th>@propertyInfo.Name</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @foreach (var propertyInfo in typeof(MRetirosListado).GetProperties())
                                {
                                    string propertyName = propertyInfo.Name;
                                    var propertyValue = propertyInfo.GetValue(item);

                                    <td>@propertyValue</td>
                                }
                                <td><button>Editar</button></td>
                            </tr>
                        }

                    </tbody>
                </table> *@
                <div class="row">
                    <div class="col-5">
                        <form asp-action="FiltroCedula" asp-controller="CRetirosListado" method="post">
                            <div class="input-group no-border">
                                <input type="number" id="inputCedula" name="cedula" class="form-control" placeholder="Número de Cedula...">
                                <button type="submit" class="btn btn-primary m-1">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/zoom.js")"></script>

